.wholebody {
  background-color: #E5E7E9;
  height: 17.5cm;
  width: 34cm;
}
  .registration1 {
  height: 10cm;
  width: 10cm;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.title {
  color: white;
  padding-top: 10px;
  margin-left: 130px;
  font-size: 28px;
}
.dice {
  margin-top: 30px;
  margin-left: 120px;
}
#formGroupExampleInput {
  margin-top: 50px;
}
.background {
  border-color: #E5E7E9;
  background-image: -webkit-linear-gradient(118deg, #34ADFF 45%, white 45%);
  min-height: 669px;
}
.playertwo {
  margin-left: 1100px;
  margin-top: 150px;
}
.playerone {
  margin-left: 150px;
  margin-bottom: -30px;
}
#proceed1 {
  background-color: #34ADFF;
  color: white;
  padding: 8px 32px;
  font-size: 16px;
  margin: 4px 2px;
  width : 250px;
  border-radius: 14px;
}
.row {
  margin-left: 50px;
  margin-top: 30px;
}
.topblock {
  background-color: #34ADFF;
  height: 50px;
}
#proceed2 {
  background-color: #34ADFF;
  color: white;
  padding: 8px 32px;
  font-size: 16px;
  margin: 4px 2px;
  width : 250px;
  border-radius: 14px;
}
#formGroupExampleInput2 {
  margin-top: 50px;
}

#hold1 {
  margin-left: 50px;
  font-size: 20px;
  font-family: serif;
  background:#ffffff;
  color: red;
  padding: 15px 15px;
  border: 2px solid #f00000;
  border-radius: 8px;
}
#button1{
  margin-bottom: 1cm;
  margin-left: 50px;
  font-size: 20px;
  font-family: serif;
  background:#ffffff;
  color: green;
  padding: 15px 15px;
  border: 2px solid green;
  border-radius: 8px;
}
.butpos{
  margin-top: 50px;
  margin-left: -80px;
}
.butpos2 {
  margin-left: 900px;
  margin-top: 30px;
}
.playertwo {
  margin-top: -30px;
  margin-left: 1000px;
}
#hold2 {
  font-size: 20px;
  font-family: serif;
  background:#ffffff;
  color: red;
  padding: 15px 15px;
  border: 2px solid #f00000;
  border-radius: 8px;
}
#button2{
  margin-bottom: 1cm;
  margin-left: -20px;
  font-size: 20px;
  font-family: serif;
  background:#ffffff;
  color: green;
  padding: 15px 15px;
  border: 2px solid green;
  border-radius: 8px;
}
#output{
  margin-left: 40px;
  font-size: 1.5cm;
  margin-top: -120px;
}
#output1b{
  margin-left: 40px;
  font-size: 2cm;
  margin-top: -100px;
}
#output2{
  color: white;
  margin-left: 950px;
  font-size: 1.5cm;
  margin-top: 120px;
}
#output2b{
  color: white;
  margin-left: 950px;
  font-size: 2cm;
  margin-top: 70px;
}
